:root {
    --bg-img: url("/workspaces/memory-card-cat/mca/public/assets/bg-image-paw-transformed.png");
    --bg-color: rgb(241, 200, 166);
    --contrast-brown: rgb(59, 35, 22);
    --shadow-brown: 5px 5px 10px rgba(59, 35, 22, 0.5);
    font-family: 'Pacifico', cursive;
    font-weight: 800;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    background-image: var(--bg-img);
    border-bottom: 6px solid var(--contrast-brown);
}

.c.title {
    margin: 0 auto;
}

.c.title h1 {
    text-align: center;
    margin-bottom: 0;
}

.c.title p {
    font-style: italic;
}

.r.display.score {
    position: absolute;
    margin-left: 85%;
}

.r.display.score h3 {
    text-align: center;
}

.mc.main {
    margin: 0 233px;
}

.main.card {
    overflow-anchor: none;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0;
}

@keyframes fadeIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.grid.card {
    background-image: var(--bg-img);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin: 2vw 2vh;
    border-radius: 4px;
    border: 8px solid var(--contrast-brown);
    box-shadow: var(--shadow-brown);
    max-width: 250px;
    max-height: 400px;
    animation: 0.5s ease-out 0s 1 fadeIn;
}

.grid.card img {
    border-radius: 8px;
    height: 233px;
    width: 250px;
    box-shadow: 2.5px 2.5px 5px rgba(153, 83, 51, 0.171)
}

footer {
    background-image: var(--bg-img);    
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 6px solid var(--contrast-brown)
}

.f.center.div {
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-direction: row;
}

.gh.img img {
    border: 2px solid var(--contrast-brown);
    border-radius: 22px;
}

@media (max-width:480px) {

    .mc.main {
        margin: 0 20px;
    }


    .main.card {
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
        gap: 0;
    }
}